
$conformit-font-family:"Helvetica", "Segoe UI", Arial, sans-serif;

$color-black: #1a1a1a;
$color-really-light-blue: #abdbe3;
$color-light-blue: #76b5c5;
$color-blue: rgb(37, 150, 190);
$color-dark-blue: #063970;
$color-orange: #e28743;
$color-light-orange: #eab676;
$color-light-grey: #eeeee4;
